@font-face {
  font-family: 'NanumMuGungHwa';
  src:
    url('../assets/fonts/subset-NanumMuGungHwa.woff2') format('woff2'),
    url('../assets//fonts/subset-NanumMuGungHwa.woff') format('woff'),
    url('../assets//fonts/subset-NanumMuGungHwa.ttf') format('truetype');
  font-display: fallback;
}
